body{
   width: 1000px;
   margin: auto;
   padding: 0;
}

nav{
    background-color: rgb(41, 38, 38);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    position: fixed;
    height: 50px;
    width: 1000px;
}

header nav ul li{
    display: inline-block;
    width: 200px;
    color : white;
    text-align: center;
    font-size: 25px;
    border-right: 2px solid white;
    
} 
header nav ul li:first-child{
    margin-left : 50px;
    border-left: 2px solid white;

}
.medium{
margin-top:60px;
display: inline-block;
}
.fb {
    text-align: center;
    width: 1000px;
    height: 500px;
    object-fit: cover;
    display: inline-block;

}
.fn {
    width: 490px;
    height: 300px;
    object-fit: cover;
    display: inline-block;
    margin: 0px;

}
.fm {
    width: 500px;
    height: 300px;
    object-fit: cover;
    display: inline-block;
    margin: 0px;


}
.bottom{
    height: 400px;
}

.front_burger{
    width: 1000px;
    height : 400px;
    display: inline-block;
}
.front_member{
    height : 250px;
    width: 500px;
    display: inline-block;
}
.front_non{
    height : 250px;
    width: 500px;
    display: inline-block;
}
.hamburgermain{
    display: none;
    width: 1000px;
    height : 1000px;
    padding-top: 50px;
    overflow: hidden;
}

.beveragemain{
    display: none;
    width: 1000px;
    height : 700px;
    padding-top: 50px;
    overflow: hidden;
}
.sidemain{
    display: none;
    width: 1000px;
    height : 700px;
    padding-top: 50px;
    overflow: hidden;
}
.etcmain{
    display: none;
    width: 1000px;
    height : 700px;
    padding-top: 50px;
    overflow: hidden;
}
footer{
    margin-top: 0px;
    background-color: rgb(36, 31, 31);
    width: 1000px;
    height: 100px;
    bottom: 0px;
    color : white;
    font-size: 15px;
    font-weight: bold;
    position: fixed;
    bottom : 0px;
    display: block;

}

.menu_div{
    width : 600px;
    height: 100%;
    background-color: rgb(50, 64, 77);
    display: inline-block;


}
.total_div{
    width : 400px;
    height: 100%;

    display: inline-block;
    
}
img {
    width : 240px;
    height: 190px;
    margin: auto;
}

strong{
    font-weight: 1000;
    font-family: 휴먼엑스포;
    font-size: 20px;
}
.str{
    text-align: center;
}

input{
    display: none;
}
